# uv Virtual Environment (Managed by uv init/sync)
.venv/
uv.lock

# Generated Python files
__pycache__/
*.pyc
*.o
*.pyd
*~

# Pytest and Coverage files
.pytest_cache/
.coverage
htmlcov/

# Operating system files (macOS, Windows, etc.)
.DS_Store
Thumbs.db

# Logs and local databases
*.log
*.sqlite